<header class="header">

<!-- Botones de redireccion -->
  <div class='links-left'>
    <div>
      <button class='button-secondary' onclick="location.href = 'https://crm.picallex.com';">
          Ir a PicallEx
      </button>
    </div>
  </div>

  <div class="logo" style="margin-left: 170px">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
    {{/link}}
  </div>

<!-- Generacion de un ticket y perfil de usuario -->
  <div class="links-rigth">
    <button class='button-secondary my-activities' onclick="location.href = '/hc/es-us/requests';">
        Mis Tickets
    </button>
    <button class='button-secondary submit-a-request' onclick="location.href = '/hc/es-us/requests/new';">
        Enviar una solicitud
    </button>
  </div>
</header>